*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
 
}

body{
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Handlee', cursive;
    background: #091921;
}

.padre{
    background: #091921;
    display: flex;
    flex-flow: column nowrap;
}

  /* Header */
  .header{
  
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 2px 3px 7px rgba(10, 214, 54, 0.9),
                2px 4px 8px rgba(0, 0, 0, 0.4);
    
   }

   .header:hover{
    box-shadow:  -1px -1px 3px rgba(255, 255, 255, 0.12),
                  2px 2px 6px rgba(0, 0, 0, 0.8),
                   inset -2px -2px 10px rgba(60, 231, 69, 0.2),
                  inset 2px 2px 10px rgba(0, 0, 0,0.5);

   }

   .menu{
      
       display: flex;
       flex-flow: row nowrap;
       align-items: center;
       height: 100px;
     
   }
   .logo{
       
       flex: 1 1 auto;   
       height: auto; 
   }

   .logo a{
       font-size: 45px;
       text-decoration: none;
       color: #777;
       box-shadow: 8px 6px 10px -1px rgba(0, 0, 0,0.18),
                  -6px -6px 10px -3px rgba(255,255,255,0.7);
        border-radius: 50px;
        transition: transform 0.5s;
   }

   .nav{
      
       flex: 10 1 auto;
       display: flex;
       flex-flow: row nowrap;
       height: 70px;
       align-items: center;     
      
   }
   .nav a i{
       font-size: 25px;
       color: #777;
       
   }

    .centro-inicio{
       padding: 0 0 0 5px;
    
   }

   .centro-nosotros{
       padding: 0 0 0 10px;
   }

   .centro-servicios{
       padding: 0 0 0 10px;
   }
   .centro-drogas{
       padding: 0 0 0 5px;
   }

   .centro-contacto{
       padding: 0 0 0 5px;
   }

   .nav a{
       background: #091921;
       font-size: 15px;
       text-align: center;
       text-transform: uppercase;
       letter-spacing: 2px;
       text-decoration: none;
       /* padding: 5px 8px; */
       border-radius: 8px;
       color: whitesmoke;

       /* Otro Efecto*/ 
        /* text-shadow: -1px -2px 8px rgba(255,255,255, 0.6),
       2px 3px 10px rgba(255, 255, 255, 0.8); */


      
       box-shadow: -2px -2px 6px -1px rgba( 255, 255, 254,0.16),
                   2px 2px 4px -1px rgba(0,0,0,0.7);
        transition: transform 0.5s;           
   }

   .nav a:hover{
       box-shadow:  -1px -1px 3px rgba(255, 255, 255, 0.12),
                     2px 2px 6px rgba(0, 0, 0, 0.8),
                   inset -2px -2px 10px rgba(255,255,255,0.05),
                   inset 2px 2px 10px rgba(0, 0, 0,0.5);
                   text-shadow: -1px -2px 8px rgba(199, 23, 161, 0.6),
                   2px 3px 10px rgba(226, 132, 132, 0.8);          
                  
        transform: translateY(2px);    
        font-size: 20px;     
      
        
   }

   .logo a:hover{
    box-shadow:   -1px -1px 3px rgba(255, 255, 255, 0.12),
                   2px 2px 6px rgba(0, 0, 0, 0.8),
                    inset -2px -2px 10px rgba(255,255,255,0.05),
                      inset 2px 2px 10px rgba(0, 0, 0,0.5);
    text-shadow:  -3px -5px 16px rgba(1, 200, 14, 0.5),
                   -4px -6px 12px rgba(1, 200, 14, 0.5),
                   4px 5px 22px rgba(14, 20, 214, 0.6),
                   4px 6px 21px rgba(14, 20, 214, 0.6);
     color: #3293c4;     
     border: none;    
     font-size: 52px;
                         
   }

   .centro-inicio:hover{
      transform: scale(1.25);
       color: #00f1ff;
       /* box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
                  inset 2px 2px 6px rgba(0, 0, 0, 1); */
       text-shadow: 2px 1px 2px #00f1ff,
                    0 0 10px #00f1ff;
   }

   .centro-nosotros:hover{
    font-size: 32px;
    color: #e80120;
    text-shadow: 0 0 6px #e80120,
                    0 0 20px #e80120;
   }

    .centro-servicios:hover{
        font-size: 32px;
        color: #01ff02;
        text-shadow: 2px 1px 2px #01ff02,
                        0 0 2px #01ff02;
    }

    .centro-drogas:hover{
        font-size: 32px;
        color: #e66ad1;
        text-shadow: 2px 1px 2px #e66ad1,
                        0 0 2px #e66ad1;
    }
    
    .centro-contacto:hover{
        font-size: 32px;
        color: #dadd36;
        text-shadow: 2px 1px 2px #dadd36,
                        0 0 2px #dadd36;
    }

    /*Nosotros*/


    .section{
        background: #091921;
        display: flex;
        box-shadow: 2px 3px 7px rgba(14, 20, 214, 0.6),
                      2px 4px 8px rgba(28, 187, 166, 0.4);
        /* flex-flow: row nowrap; */
     }
 
     .articulos{
        
        display: flex;
        flex: 2 1 auto;  
        flex-flow: row wrap;
        color: whitesmoke;
        box-shadow: 2px 4px 10px rgba( 255, 255, 254,0.16),
                     -2px 4px 8px rgba(218, 208, 218, 0.7);
 
     }
     .foto-arli{
           height: 480px;
     }
     .contenedor{
         box-shadow: 2px 4px 10px rgba( 255, 255, 254,0.16),
                     -2px 4px 8px rgba(219, 71, 219, 0.7);
                     padding: 0 20px 25px 0;
     }
     .articles h2{
        margin-left: 15px;
        text-shadow: 2px 4px 8px rgba(10, 214, 54, 0.9),
                      -4px -6px 8px  rgba(56, 166, 218,0.7);
    }

    
 
     .contenedor:hover{
       box-shadow:  -1px 3px rgba(255, 255, 255, 0.12),
         2px 2px 6px rgba(0, 0, 0, 0.8),
        inset -2px -2px 8px rgba(230, 222, 222, 0.01),
        inset 2px 2px 2px rgba(0, 0, 0,0.5);
 
    }
     
        .articles{
         flex: 1 1 41%;
         letter-spacing: 1px;
         margin: 10px 10px 0 0px;
         flex: 1 1 45%;
        
          }
 
         .articles h3{
              font-size: 15px;
              padding: 10px 0; 
              margin: -80px 0 0 35px;
              color: wheat;
              letter-spacing: 2px;
          }
 
         .articles h2{
              font-size: 25px;
              text-transform: uppercase;
              padding: 10px 0 10px 5px;
              color: #666;
          }
 
        .articles img{
            width: 100%;
        }  
.descripcion:hover{
    color: whitesmoke;
           text-shadow: 2px 3px 11px rgba(84, 220, 238, 0.7),
                         3px 2px 10px rgba(90, 210, 240, 0.6);
}

     
 





.footer{
   
    display: flex;
    flex-flow: row nowrap;

}

.pie{
 
    flex: 1 1 auto;
    font-size: 30px;
    font-weight: 100;
    font-family: fantasy;
    color: #eed;
    line-height: 35px;
    
     text-shadow:  -3px -5px 16px rgba(1, 200, 14, 0.5),
    -4px -6px 12px rgba(1, 200, 14, 0.5),
    4px 5px 22px rgba(14, 20, 214, 0.6),
    4px 6px 21px rgba(14, 20, 214, 0.6);
}

.redes-sociales{
     margin-top: -20px;
      flex: 2 1 auto;
      display: flex;
      justify-content: space-between;  
   
      align-content: flex-start; 
}


.fa-facebook{
    font-size: 30px;
    padding: 0;
    color: #3b5998;
     
    text-shadow: 10px 5px 18px rgba(41, 191, 218, 0.16),
                -8px -6px 15px rgba(13, 73, 163, 0.4);
    
}

.fa-instagram{
    font-size: 30px;
    padding: 0;
    color: #c93bb6;
   
    text-shadow: 10px 5px 18px rgba(219, 96, 219, 0.16),
                -8px -6px 16px rgba(219, 84, 213, 0.4);
}
  .fa-twitter{
    font-size:30px;
    padding: 0;
    color: #00acee;
    background: #091921;
 
    text-shadow:  10px 5px 20px rgba(15, 90, 161, 0.16),
                -5px -6px 15px rgba(36, 53, 214, 0.4);
}

.fa-whatsapp{
    font-size: 30px;
    padding: 0;
    color: #00bb2d;
 
    text-shadow: 10px 5px 18px rgba(31, 209, 76, 0.16),
                -5px -6px 10px rgba(37, 180, 9, 0.4);
}

.fa-facebook:hover{
    transform: scale(1.5);
    color: rgb(255, 255, 255);
    text-shadow:  10px 5px 18px rgba(10, 110, 204, 0.16),
                  -5px 6px 10px rgba(4, 82, 146, 0.4),
                  inset 8px 9px 12px rgba(119, 174, 219, 0.8),
                  inset -4px -6px 10px rgba(211, 211, 15, 0.9);
   
    
}

.fa-twitter:hover{
    transform: scale(1.5);
    color: white;
    text-shadow:  10px 5px 18px rgba(10, 110, 204, 0.16),
    -5px 6px 10px rgba(4, 82, 146, 0.4);

}

.fa-instagram:hover{
    transform: scale(1.5);
}
.fa-whatsapp:hover{
    transform: scale(1.5);
}

.pie:hover{
    font-size: 50px;
}



